body{
    margin: 0;
    padding-top: 100px;
    text-align: center;
    align-self: center;
    background-color: cyan;
    
    
}
#img1{
    border-radius: 100%;
} 
.parallex-inner{
 display: table-cell;
position: relative;
    text-align: center;
    vertical-align:middle;
    color: black;
    
}
.menu{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 10;
    cursor: pointer;
}
#welcome{
    position: absolute;
    height: 800px;
    color:#FFFFFF;
    left: 0;
    top: 100;
    bottom: 0;
    right:0;
    opacity:0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#about{
    
    padding: 200px;
    text-align: center;
    font-size: 42px;
}
.line{
    height=6px;
    background-color: #000;
    width:70px;
    margin:5px auto;
    align-self: center;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.link:hover{
    background-color:brown;
}
.link{
    float: left;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-top: 5px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;
}


